[program:sentry-web]
directory={{sentry_home}}
environment=SENTRY_CONF="{{sentry_home}}/config.py"
command={{sentry_home}}/env/bin/sentry start
user={{sentry_user}}
autostart=true
autorestart=true
redirect_stderr=true
{% if sentry_logfile_dir %}
stdout_logfile={{sentry_logfile_dir}}/sentry_web.log
stderr_logfile={{sentry_logfile_dir}}/sentry_web.log
{% else %}
stdout_logfile=syslog
stderr_logfile=syslog
{% endif %}

[program:sentry-worker]
directory={{sentry_home}}
environment=SENTRY_CONF="{{sentry_home}}/config.py"
command={{sentry_home}}/env/bin/sentry celery worker
user={{sentry_user}}
autostart=true
autorestart=true
redirect_stderr=true
{% if sentry_logfile_dir %}
stdout_logfile={{sentry_logfile_dir}}/sentry_work.log
stderr_logfile={{sentry_logfile_dir}}/sentry_work.log
{% else %}
stdout_logfile=syslog
stderr_logfile=syslog
{% endif %}

[program:sentry-beat]
directory={{sentry_home}}
environment=SENTRY_CONF="{{sentry_home}}/config.py"
command={{sentry_home}}/env/bin/sentry celery beat
user={{sentry_user}}
autostart=true
autorestart=true
redirect_stderr=true
{% if sentry_logfile_dir %}
stdout_logfile={{sentry_logfile_dir}}/sentry_beat.log
stderr_logfile={{sentry_logfile_dir}}/sentry_beat.log
{% else %}
stdout_logfile=syslog
stderr_logfile=syslog
{% endif %}
